
p.lead {
  font-size: 1.4em;
}
p, ul {
  font-size: 1.2em;
}
body {
  background-color: #FBE6C8;
  color: #5D594E;
  header {
    margin: 1em 0;
    padding: 0;
    height: 38px;
  }
  header > a.logo {
    display:inline-block;
    margin: 0 0;
    height: 38px;
    width: 200px;
    background-size: contain;
    background-image: url(image-path("logo-horizontal2.png"));
    background-repeat: no-repeat no-repeat;
    background-position: center center;
  }
  footer {
    padding: 4em;
    text-align: center;
  }
}
body.blog main ul, ul.pros, ul.cons, section.features ul {
  list-style-type: disc;
  /*padding: 1em 2em;*/
  padding-bottom: 1em;
}

.pitch h1 {
  font-size: 3em;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.5em;
}
section.homepage,
section.season,
section.episodes,
section.seasons {
  margin-top: 3em;
}
section.testimonials,
section.featured-episodes,
section.homepage,
section.season,
section.episodes,
section.seasons {
  h1, h2 { text-align: center;}
}
body {
  & > .container {
    @include outer-container;
    & > header, & > footer, & > main {
      @include span-columns(10);
      @include shift(1);
    }
  }
  main > section {
    margin-bottom: 3em;
  }
}
section.seasons {
  .season {
    margin: 1em 0;
  }
}



.article {
  position: relative;
  .thumbnail {
    float: left;
    margin-right: 15px;
    width: 200px;
  }
  clear: both;
  padding-bottom: 3.5em;
  min-height: 200px;
}
section.pitch {
  text-align:center;
  padding: 1.5em 0;
  color: #FFFCF7;
  @include full-width-section(#4B473D);
  margin-bottom: 0;
  p.lead {
    font-size: 150%;
  }
  em {
    color: #FFDB50;
    font-style: normal;
  }
}
section.cyber_monday {
  @include full-width-section(#000000);
  text-align:center;
  color: #FFFCF7;
  margin-bottom: 0;
  h1 {
    font-size: 4.5em;
    margin-bottom: 0;
    em {
      font-style: normal;
      background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px #fff;
    }
  }
  p.lead {
    font-size: 150%;
    padding-bottom: 10px;
    em {
      color: #FFDB50;
      font-style: normal;
    }
  }
}
section.pricing-tiers {
    padding-bottom:2.5em;
    .features {
      min-height: 232px;
    }
}

section.pricing-tiers, section.latest-episode {
  > h2 {
    width: 100%;
    text-align: center;
  }
}


abbr { cursor: help; }
