
.container {
  max-width: $grid-width;
  margin: 0 auto;
}
p.lead {
  font-size: 1.2em;
}
body {
  background-color: $color-background;
  color: $color-dark;
}
body.blog main ul, ul.pros, ul.cons, section.features ul {
  list-style-type: disc;
  /*padding: 1em 2em;*/
  padding-bottom: 1em;
}

.chrome {
      position: relative;
    background-image: linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #f5f5f5;
    -webkit-text-stroke: 1px #f5f5f5;
    margin: 0;
    line-height: 1;
}
.pitch h1 {
  font-size: 3em;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.5em;
}
section.homepage,
section.season,
section.episodes,
section.seasons {
  margin-top: 3em;
}
section.testimonials,
section.featured-episodes,
section.homepage,
section.season,
section.episodes,
section.seasons {
  h1, h2 { text-align: center;}
}
body {
  & > .container {
    & > header, & > footer, & > main {
    }
  }
  main > section {
    margin-bottom: 3em;
  }
}
section.seasons {
  .season {
    margin: 1em 0;
  }
}



.article {
  .thumbnail {
    max-width: 32rem;
    transform: translateX(3rem);
  }
}
section.pitch {
  text-align:center;
  padding: 1.5em 0;
  color: #FFFCF7;
  @include full-width-section(#4B473D);
  margin-bottom: 0;
  p.lead {
    font-size: 150%;
  }
  em {
    color: #FFDB50;
    font-style: normal;
  }
}
section.pricing-tiers {
    padding-bottom:2.5em;
    .features {
      min-height: 232px;
    }
}

section.pricing-tiers, section.latest-episode {
  > h2 {
    width: 100%;
    text-align: center;
  }
}


abbr { cursor: help; }
