.header {
  margin: 1em 0;
  padding: 0;
  height: 3.8rem;
  &__logo {
    display:inline-block;
    margin: 0 0;
    height: 3.8rem;
    width: 20.0rem;
    background-size: contain;
    background-image: url(image-path("logo-horizontal2.png"));
    background-repeat: no-repeat no-repeat;
    background-position: center center;
  }
}
