.header {
  margin: 1em 0;
  padding: 0;
  height: 38px;
  &__logo {
    display:inline-block;
    margin: 0 0;
    height: 38px;
    width: 200px;
    background-size: contain;
    background-image: url(image-path("logo-horizontal2.png"));
    background-repeat: no-repeat no-repeat;
    background-position: center center;
  }
}
