<div class="episode free">
  <div class="poster">
    <% link_to episode_path(episode) do %>
      <%= image_tag(episode.poster_path, class: "thumbnail") %>
      <%= image_tag "play-icon.png", class: "play-icon" %>
    <% end %>
  </div>
  <div class="info">
    <h2><%= link_to "Episode #{ episode.formatted_title}", episode_path(episode) %> <small>free episode</small> </h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <p><%= truncate(episode.description, length: 200) %></p>
  </div>
</div>
