<div class="episodes">
  <% episodes_catalog.all_episodes.each_with_index do |episode| %>
    <% if episode.free? %>
      <%= partial 'views/free_episode', locals: {episode: episode} %>
    <% else %>
      <%= partial 'views/paid_episode', locals: {episode: episode} %>
    <% end %>
  <% end %>
</div>
