<section class="episodes">
  <h1>All released free episodes</h1>
  <% episodes_catalog.free_episodes.each_with_index do |episode| %>
    <%= partial 'views/free_episode', locals: {episode: episode} %>
  <% end %>
</section>
<section class="signup">
  <%= render_convertkit_custom_form("default") %>
</section>
