---
hide_menu: true
---
<h1>Ooops, something went wrong:(</h1> 

<p>Sorry, for that!</p>
<p>Either the server is busy or I've messed something up ;)</p>
<p>In any case, try refreshing the page a bit later and it should be fixed.</p>

<p>If it's still not working, feel free to  <%= link_to "yell at me on twitter", "https://twitter.com/mehowte" %> :)</p>

<p><em>Michał</em></p>
