<% single_product = false unless defined?(single_product) %>
<% wanted = false unless defined?(wanted) %>

<% if current_promotion.enabled? %>  
  <% url = "https://gumroad.com/l/#{season.gumroad_product_id}/#{current_promotion.coupon_code}?wanted=#{wanted.to_s}" unless defined?(url) %>
  <% caption = "Buy Season #{season.number} for just <s style=\"color: #b6eab3;\">#{season.price.formatted}</s> #{current_promotion.season_price}".html_safe unless defined?(caption) %>
<% else %>
  <% url = "https://gumroad.com/l/#{season.gumroad_product_id}/?wanted=#{wanted.to_s}" unless defined?(url) %>
  <% caption = "Buy Season #{season.number} for just #{season.price.formatted}".html_safe unless defined?(caption) %>
<% end %>
<section class="buy">
  <div class="row">
    <div class="buy-button">
      <a class="button" data-gumroad-single-product="<%= single_product.to_s %>" href="<%= url %>"><%= caption %></a>
      <p>Includes <strong>9 videos</strong>, <strong>detailed transcripts</strong>, <strong>source code examples</strong> and <strong>exercises</strong>.</p>
    </div>
  </div>
</section>
