<section class="buy">
  <div class="buy-button">
    <a class="button" href="https://gumroad.com/l/<%= season.gumroad_product_id %>">Buy Season <%= season.number %> for just <%= season.price.formatted %></a>
  <p>9 videos, detailed transcripts, source code examples and exercises</p>
  <div>
</section>
