<div class="tier <%= tier_class %>">
    <div class="title">
      <h3>just one Episode</h3>
    </div>
    <div class="price">
      <span class="value"><s style="color: #9e8318"><%= episode.price.formatted %></s> $1.99</span>
    </div>
    <div class="features">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check"></i>Immediate access to the episode</li>
        <li><i class="fa-li fa fa-check"></i>Online streaming</li>
        <li><i class="fa-li fa fa-check"></i>DRM-free download</li>
        <li><i class="fa-li fa fa-check"></i>Full Transcript</li>
        <li><i class="fa-li fa fa-check"></i>Source Code</li>
        <li><i class="fa-li fa fa-check"></i>Exercises</li>
        <li><i class="fa-li fa fa-check"></i>One-time payment</li>
      </ul>

    </div>
      <div class="price-per-episode">
        Price per episode: <s style="color: #908e8a"><%= episode.price.formatted %></s> $1.99
    </div>
    <div class="call-to-action">
      <a class="button" data-gumroad-single-product="true" href="https://gumroad.com/l/<%= episode.gumroad_product_id %>/bestdayofmylife?wanted=true">Get Episode</a>
    </div>
    <% if show_alternative_cta %>
      <div class="more">
        or <a href="/episodes/all">browse all episodes</a>
      </div>
    <% end %>

  </div>

