  <section class="featured-episodes featured-<%= featured_episodes.count%>">
    <h2>What if you could learn something new in just 5 minutes?</h2>
    <p>Ready? Then watch <strong>any</strong> of those videos <strong>now</strong>:</p>
    <% featured_episodes.each do |episode| %>
      <div class="featured-episode">
        <%= partial "views/wistia_responsive_popup", locals: {episode: episode} %>
        <h4><%= episode.formatted_title %></h4>
      </div>
    <% end %>
  </section>

