<section class="buy">
  <div class="row">
  <div class="buy-button">
    <a class="button" href="https://gumroad.com/l/<%= episode.gumroad_product_id %>"> <i class="fa fa-gift"></i> Get This Episode For Free!</a>
    <p>Includes <strong>full transcript</strong>, <strong>source code examples</strong> and <strong>programming exercises</strong>.</p>
  </div>
    </div>
</section>
