<div class="ribbon-wrapper">
  <% if episodes_catalog.latest_episode?(episode) %>
    <div class="ribbon ribbon-new"><i class="fa fa-star"></i> NEW</div>
  <% elsif episode.free? %>
    <div class="ribbon ribbon-free"><i class="fa fa-gift"></i></span> FREE</div>
  <% else %>
    <div class="ribbon ribbon-paid"><i class="fa fa-dollar"></i> PAID</div>
  <% end %>
</div>
