<section class="buy">
  <div class="buy-button">
    <p>Buy now to get the subscription for $10.99/month or $109/year (two months for free).</p>
    <a class="button" href="https://gumroad.com/l/64bites">Subscribe Now for just $10.99/month!</a>
  <p>New video each week. All episodes from current Season.</p>
  <div>
</section>
