<section class="buy">
  <div class="buy-button">
    <p>[PolyConf Discount - <strong>10% off</strong> is active until Sunday, 7th June 2015]<p>
    <p>Buy now to get the subscription for 9.9/month or 99/year instead of <span class="old-price">11/month</span> and <span class="old-price">110/year</span>.</p>
    <a class="button" href="https://gumroad.com/l/64bites">Subscribe Now for just <span class="old-price">11/month</span> $9.9/Month!</a>
  <p>New Screencast each week. Access to all previous episodes.</p>
  <div>
</section>
