<section class="buy">
  <div class="buy-button">
    <p>[Only <strong>2 days left</strong> until early bird discount ends!]</p>
    <a class="button" href="https://gumroad.com/l/64bites">Subscribe Now For Just <span class="old-price">$11/Month</span> $9/Month!</a>
  <p>New Screencast each week. Access to all previous episodes.</p>
  <div>
</section>
