<section class="buy">
  <div class="buy-button">
    <p>Buy now to get the subscription for 11/month or 110/year (two months for free).</p>
    <a class="button" href="https://gumroad.com/l/64bites">Subscribe Now for just 11/month!</a>
  <p>New Screencast each week. Access to all previous episodes.</p>
  <div>
</section>
