<section class="buy">
  <div class="buy-button">
    <a class="button" href="https://gumroad.com/l/64bites">Subscribe Now <br><small>for just</small> <br>$11/Month or $110/year (two months for free)!</a>
  <p>New Screencast each week. Access to all previous episodes.</p>
  <div>
</section>
