<div class="yt-videowrapper"><iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/<%= youtube_id %>?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
