---
hide_menu: true
---
<h1>C64 Debugger - Keyboard Shortcuts Cheat-Sheet</h2>

<div style="text-align:right; width: 44%; margin-right:4%; display: inline-block;">
<h2>PC Version</h2>
<% link_to downloads_path("C64Debugger-KeyboardShortcuts-PC.pdf") do %>
  <%= image_tag "downloads/C64Debugger-KeyboardShortcuts-PC.jpg", style: "margin: 0 auto; max-width: 300px" %>
<% end %>
</div>

<div style="width: 44%; margin-left:4%; display: inline-block;">
<h2>MacOS Version</h2>
<% link_to downloads_path("C64Debugger-KeyboardShortcuts-Mac.pdf") do %>
  <%= image_tag "downloads/C64Debugger-KeyboardShortcuts-Mac.jpg", style: "margin: 0 auto; max-width: 300px" %>
<% end %>
</div>
