---
layout: false
---
<% url = "https://64bites.gumroad.com/l/64bites-creators-club" %>
<html>
  <head>
  <meta http-equiv="expires" content="0">
  <meta http-equiv="refresh" content="0; url=<%= url %>">
    <script>
       window.location = "<%= url %>";
    <script>
  </head>
  <body>        
    If you are not redirected automatically, follow this link to join <a href="<%= url %>">our community</a>.
  </body>
</html>
