---
hide_menu: true
---
<br>

# Start programming your Commodore 64 today!

<% #<div id="betimes-counter-inline-746803699304558" class="betimes-counter-inline"></div> %>

## Get the first nine episodes for <s>$19.99</s> free!

<%= image_tag "seasons/001.jpg", alt: "Season 1 poster" %>

Season 1 is worth $19.99 and contains 

- first nine episodes (50+ minutes of DRM-free videos in total),
- transcripts (7500+ words),
- source code examples (450+ LOC) and
- programming exercises for each episode.

<br>


<%= partial 'views/buy_season_button', locals: {url: "https://gum.co/64bites-season1/s1-and-s2-ota-28347", caption: "<i class='fa fa-gift'></i> Download Season 1 for free! <i class='fa fa-gift'></i>" } -%>
<br><br>

## Get the next nine episodes for just $9.99 (that's 50% off)!

If you find the videos fun and want more, I can offer you the next nine episodes for half the price.

<%= image_tag "seasons/002.jpg", alt: "Season 2 poster" %>

<%= partial 'views/buy_season_button', locals: {url: "https://gum.co/64bites-season2/s1-and-s2-ota-28347", caption: "Get Season 2 for just $9.99! That's half the price!" } -%>

<% content_for :javascript do %>
  <script async type="text/javascript">(function(){var url=new URL(window.location.href),cem=url.searchParams.get("email"),btmsid=url.searchParams.get("btmsid"),s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];s1.referrerPolicy='no-referrer-when-downgrade';s1.async=true;s1.src='https://app.betimes.pl/countdown/746803699304558/loader.js?email='+cem+'&btmsid='+btmsid;s1.charset='UTF-8';s0.parentNode.insertBefore(s1,s0);})();</script>
<% end %>
