---
title: 64 Bites - Short and Sweet Commodore 64 Programming Screencasts
summary: The easiest way to start programming Commodore&nbsp;64
main_image: episodes/014.png
---
<% latest_episode = episodes_catalog.latest_episode %>
<% current_season = episodes_catalog.current_season %>
<% subscription = episodes_catalog.subscription %>

<section class="pitch">
  <div class="w">
    <h1 style="width: 100%">The easiest way to start programming <em>Commodore&nbsp;64</em></h1>
    <p class="lead">Life is too short to read twenty-year-old books.<br><em>Learn</em> BASIC and 6502 Assembly with bite-sized video tutorials <em>today</em>!</p> 
  </div>
</section>

<section class="homepage"><h1>Here's The Latest Video</h1></section>
<%= partial "views/episode_section", locals: { episode: latest_episode, truncate_info: false } %>

<section class="pricing-tiers two">
  <h2>Watch this Video Today</h2>
  
    <%= partial "views/episode_pricing_tier", locals: {tier_class: "left", episode: latest_episode, show_alternative_cta: true} %>
    <%= partial "views/subscription_pricing_tier", locals: {tier_class: "suggested", subscription: subscription, show_alternative_cta: true} %>

</section>

<%= partial "views/testimonials_section" %>

<% content_for(:javascript) do %>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<% end %>
<section class="newsletter">
  <h2>Want to try it out for free?</h2>
  <p class="lead">I can send you free videos and articles on programming Commodore 64 from time to time.</p>
  <a href="https://www.getdrip.com/forms/18339237/submissions/new" data-drip-show-form="18339237" class="show-newsletter-subscription button">Sounds Good!</a>
</section>

<% content_for(:javascript) do %>
  <script type="text/javascript">
  $("body").on("click", ".show-newsletter-subscription", function(e) {
      e.preventDefault();
      e.stopPropagation();
      var formId = $(this).data("drip-show-form")
      console.log(formId);
      _dcq.push(["showForm", { id:formId }]);
  });
  </script>
<% end %>

