---
layout: false
---
<% url = "https://www.youtube.com/watch?v=rwEVufh2mu8" %>
<html>
  <head>
  <meta http-equiv="expires" content="0">
  <meta http-equiv="refresh" content="0; url=<%= url %>">
    <script>
       window.location = "<%= url %>";
    <script>
  </head>
  <body>        
    If you are not redirected automatically, follow this link to see the <a href="<%= url %>">live event</a>.
  </body>
</html>
