---
twitter_conv_pid: nthnn
twitter_conv_sale_amount: 0
twitter_conv_order_quantity: 0
facebook_pixel_event: CompleteRegistration
---
<h1>Thank you for signing up for the newsletter!</h1>
<p>It's great to have you on board. You'll be among the first to get free episodes. I will also send some useful content related to programming Commodore 64 exclusively to the newsletter.</p>

<p><i>Michal</i></p>

<h2>P.S. I need your help:)</h2>

If you have any friends who would be interested in programming retro computers, please share 64bites with them.

Just click on any link below and tell one of your friends about 64bites. <br><br>Thank you in advance.<br> <br><strong>You rock!</strong>
<br>
<br>
<a href="mailto:?subject=Check out this site :)&amp;body=This guy creates a weekly screencast about programming Commodore64 Check it out: http://64bites.com."
  title="Share by Email"><b>Share by Email</b></a> |

<a target="_blank" href="http://twitter.com/home?status=<%= URI.escape("Check this out! Screencasts about programming #C64 - http://64bites.com via @64_bites") %>"><b>Tweet about 64bites</b></a> | 

<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%=  URI.escape("http://64bites.com") %>"><b>Share on Facebook</b></a>
