---
hide_menu: true
---

<h1>Got it! No more reminders for you</h1>

<p>I'm not going to send you any reminders about the current promotion.</p>

<p>Don't worry. You haven't been unsubscribed from the main newsletter.</p>

<p>You will still receive emails about programming C64 from time to time.</p>

<p>See you soon!</p>

<em>Michał</em>
