---
layout: no_menu
---
<br>

<h1>Got it! I won't email you for some time.</h1>

<p>It seems you didn't want to receive bunch of emails in the following days with exclusive articles and free episodes.</p>

<p>You have been successfully removed from the next mailing batch.</p>

<div class="opt-in">
<h2>Didn't want to resign?</h2>
<p>If you clicked the resignation link by accident, press the button below and I'll sign you up again.</p>

<a href="#" id="opt-in" class="button">Send me free articles and videos.</a>
</div>

<% content_for :javascript do %>
  <script>
$(document).ready(function(){
      var opt_in_urls = {
        <% data.drip.fetch("opt_in_urls").each do |name, url| %>
            "<%= name %>": "<%= url %>"
        <% end %>
      };
      var opt_in_url = null
      p = jQuery.deparam.querystring()
      if (!jQuery.isEmptyObject(p)) {
        for (var key in p) {
          if (key.indexOf('sfb_opt_in') === 0) {
            if (opt_in_urls.hasOwnProperty(p[key])) {
              opt_in_url = opt_in_urls[p[key]];
            }
          }
        }
      }
      if (opt_in_url) {
        var $opt_in = jQuery(".opt-in");
        $opt_in.find("#opt-in").attr("href", opt_in_url);
        $opt_in.show()
      }
    });
  </script>
<% end %>
