---
hide_menu: true
---
<br>

<h1>Welcome Back!</h1>

<p>You will receive a bunch of emails in the following days with exclusive articles and free episodes.</p>

<p>I hope you'll enjoy them a lot.</p>

<p>I've had so much fun while writing and recording them and I can't wait to share all of that with you!</p>

<em>Michał</em>
