---
layout: false
---

<html>
  <head>
    <meta
      property="og:url"
      content="https://creative-mind.lpages.co/64bites-live-event-raster-shaders-sign-up/"
    />
    <link
      rel="opengraph"
      href="https://creative-mind.lpages.co/64bites-live-event-raster-shaders-sign-up/"
    />
    <script src="//creative-mind.lpages.co/_/js/64bites-live-event-raster-shaders-sign-up/"></script>

    <meta charset="utf-8" />
    <!-- BUILT WITH LEADPAGES https://www.leadpages.com -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Learn how to display Sprites, Raster Bars, Play SID music and more...</title>
    <meta name="keywords" content="Commodore 64, borders, raster" />
    <meta
      name="description"
      content="Discover similarities between C64 and your modern GeForce card. Learn 7 programming techniques from scratch. In record time!"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Learn how to display Sprites, Raster Bars, Play SID music and more..."
    />
    <meta
      property="og:description"
      content="Discover similarities between C64 and your modern GeForce card. Learn 7 programming techniques from scratch. In record time!"
    />
    <meta
      property="og:image"
      content="https://lh3.googleusercontent.com/nFpLteRPGAani4qjiu2ekNqrdli6bzKW1ClGxEV2lawSBB0cN3-X9Pn6nMDjlDhx0j0gtugu7u1ax_hWRP5G5vkHh02t9-AFqQ=s0"
    />
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <script src="//creative-mind.lpages.co/_/js/64bites-live-event-raster-shaders-sign-up/"></script>
  </head>
</html>
