@mixin full-width-section($background-color) {
  background-color: $background-color;
  position: relative;
  .w:before {
    right: 100%;
  }
  .w:after {
    left: 100%;
  }
  .w:before, .w:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $background-color;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == md {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == xxl {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}
