$color-red: #c1121e;
$color-orange: #cc4b32;
$color-yellow: #e9c021;
$color-green: #3da736;
$color-blue: #1589ce;

$color-white: #fff;
$color-light: #fffcf7;
$color-dark: #4b473e;
$color-black: #000;

$color-background: #fbe6c8;

$color-text-primary: $color-dark;
$color-text-light: $color-yellow;
$color-text-light-emphasize: $color-yellow;

$color-button-primary: $color-green;
$color-button-secondary: $color-blue;

$color-bubble-border: $color-text-primary;
$color-bubble-background: $color-white;

$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
