$color-red: #C1121E;
$color-orange: #CC4B32;
$color-yellow: #E9C021;
$color-green:#3DA736;
$color-blue: #1589CE;

$color-white: #fff;
$color-light: #FFFCF7;
$color-dark: #4B473E;
$color-black: #000;

$color-background: #FBE6C8;

$color-text-primary: $color-dark;
$color-text-light: $color-yellow;
$color-text-light-emphasize: $color-yellow;

$color-button-primary: $color-green;
$color-button-secondary: $color-blue;

$color-bubble-border: $color-text-primary;
$color-bubble-background: $color-white;

$color-ribbon-background-new: $color-yellow;
$color-ribbon-background-paid: $color-green;
$color-ribbon-background-free: $color-blue;
$color-ribbon-text: $color-white;
