.bubble {
  position: relative;
  padding: 2.5rem 4.5rem;
  background: $color-bubble-background;
  border-radius: 2.2rem;
  border: $color-bubble-border solid .4rem;
  margin-bottom: 2.5rem;


  &:before,
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: $color-bubble-border transparent;
    display: block;
    width: 0;
  }
  &:after {
    border-width: 1.5rem 2.0rem 0;
    z-index: 1;
    margin-left: -2.0rem;
    bottom: -1.5rem;
    left: 5.5rem;
  }

  &:before {
    border-width: 1.8rem 2.3rem 0;
    z-index: 0;
    margin-left: -2.3rem;
    bottom: -2.2rem;
    left: 5.5rem;
  }
}


