.featured-episodes {
  /*@include outer-container;*/
  &.featured-3 > .featured-episode{
    /*@include span-columns(4);*/
  }
  &.featured-2 > .featured-episode {
    /*@include span-columns(6);*/
  }
  &.featured-1 > .featured-episode {
    /*@include span-columns(6);*/
    /*@include shift(3);*/
  }
  .featured-episode {
    position: relative;
    border-radius: .3rem;
    overflow:hidden;
    box-shadow: .5rem .5rem 1.0rem rgba($color-dark, .4);
    background: $color-white;
    h4 {
      width: 100%;
      text-align: center;
    }
    transition: transform .2s;
    z-index: 10;
    &:hover {
      transform: scale(1.2);
      z-index: 20;
      @include respond(sm) {
        transform: scale(1);
      }
    }
    &--best-one {
      transform: scale(1.1);
      @include respond(sm) {
        transform: scale(1);
      }
    }
  }
}

