.ribbon-wrapper {
  width: 8.5rem;
  height: 8.8rem;
  overflow: hidden;
  position: absolute;
  top: -.3rem;
  right: -.3rem;
}

.ribbon {
  font: bold 1.5rem Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) .0rem .1rem .0rem;
  transform:      rotate(45deg);
  position: relative;
  padding: .7rem 0;
  left: -.5rem;
  top: 1.5rem;
  width: 12.0rem;
  box-shadow: .0rem .0rem .3rem rgba($color-dark, 0.3);
}

.ribbon-new {
  background-color: $color-ribbon-background-new;
  background-image: linear-gradient(
    to right bottom,
    lighten($color-ribbon-background-new, 10%),
    darken($color-ribbon-background-new, 10%)
  );
  color: $color-ribbon-text;
}

.ribbon-free {
  background-color: $color-ribbon-background-free;
  background-image: linear-gradient(
    to right bottom,
    lighten($color-ribbon-background-free, 10%),
    darken($color-ribbon-background-free, 10%)
  );
  color: $color-ribbon-text;
}

.ribbon-paid {
  background-color: $color-ribbon-background-paid;
  background-image: linear-gradient(
    to right bottom,
    lighten($color-ribbon-background-paid, 10%),
    darken($color-ribbon-background-paid, 10%)
  );
  color: $color-ribbon-text;
}


.ribbon:before, .ribbon:after {
  content: "";
  border-top:   .3rem solid #6e8900;
  border-left:  .3rem solid transparent;
  border-right: .3rem solid transparent;
  position:absolute;
  bottom: -.3rem;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}
