.testimonials {
  .row {
    @include outer-container;
  }
}

.testimonial {
  @include span-columns(6);
  & blockquote:before, & blockquote:after {
    position: absolute;
    font-size: 8rem;
    line-height: 1;
    color: rgba($color-text-primary, 0.5);
    font-style: normal;
  }
  & blockquote:before {
    content: "\201C";
    top: 0;
    left: 1rem;
  }
  & blockquote:after {
    content: "\201D";
    right: 1rem;
    bottom: -0.5em;
  }
  .author {
    position: relative;
    margin-bottom: 3.2rem;
  }
  .avatar {
    width: 10rem;
    height: 10rem;
    margin-left: 1rem;
    border-radius: 50%;
    display: inline-block;
  }
  .credentials {
    margin-top: 0rem;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 12rem;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    min-height: 10rem;
    vertical-align: middle;
  }
}
