<section class="seasons">
  <h1>Past Seasons</h1>
  <% episodes_catalog.past_seasons.each_with_index do |season, index| %>
    <div class="season" id="season-<%= season.number %>" >
      <% link_to season_path(season) do %>
        <%= image_tag(season.poster_path, class: "thumbnail") %>
      <% end %>
      <%= partial "views/buy_season_button", locals: {season: season} %>
    </div>
  <% end %>
</section>

<% content_for(:javascript) do %>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us2.list-manage.com","uuid":"424cb3a08158b944b14a88995","lid":"6db0572242"}) })</script>
<% end %>
