---
title: 64 bites - Free Episode
---
<section class="pitch">
  <div class="w">
    <h1 style="width: 100%">The easiest way to start programming <em>Commodore&nbsp;64</em></h1>
    <p class="lead"><em>Learn</em> BASIC and 6502 Assembly with bite-sized video tutorials.<br>Watch your first episode <em>today</em>!</p> 
  </div>
</section>
<% if defined?(episode) %>
  <% season = episodes_catalog.find_season_by_episode(episode) %>
  <%= partial "views/episode_section", locals: { episode: episode } %>
  <%= partial "views/get_free_episode_button", locals: {episode: episode} %>
<% end %>
<%= partial "views/testimonials_section" %>
<% content_for(:javascript) do %>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<% end %>
