---
hide_menu: true
---
<% if defined?(episode) %>
  <h1>Episode <%= episode.formatted_title %></h1>
  <%= episode.description %>
  <br>
  <br>
  <br>
  <h2>Watch the video</h2>
  <div class="embed-container">
  <iframe src="https://player.vimeo.com/video/<%= episode.vimeo_id %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <h2>Download show notes</h2>
  <p>Click on the button below to get the full transcript, source code and programming exercises.</p>
  <p>This way you follow along while watching the episode.</p>
  <p>You will not only understand what is happening but also code everything yourself!</p>
  <%= link_to "Download show notes", episode_show_notes_path(episode), class: "button" %>
<% end %>
